/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@font-face {
    font-family: Arcon;
    src : url("/assets/fonts/arcon/Arcon-Regular.otf") format("opentype")
}
html, body{
    margin: 0 !important;
}

.card-image {
    width:35%;
    float: left;
    margin-left:-10px;
    margin-top:47px;
    
}
.text-container{
    padding-left:-10px
}
.title-text {
    font-family: 'Montserrat', sans-serif;
    font-size:6vw;
}
.content-text {
    font-family: 'Arcon', sans-serif;
    font-size:4vw;
}
